services:
  slash:
    image: yourselfhosted/slash:latest
    container_name: slash
    restart: unless-stopped
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.slash.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.slash.entrypoints=web"
      - "traefik.http.services.slash.loadbalancer.server.port=5231"
      - "traefik.docker.network=traefik"
    volumes:
      - ./slash:/var/opt/slash
    networks:
      - traefik
      - postgres
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

networks:
  traefik:
    external: true
  postgres:
    external: true