services:
  pocketid:
    image: ghcr.io/pocket-id/pocket-id:v2
    container_name: pocketid
    restart: unless-stopped
    env_file: .env
    volumes:
      - "./pocketid-data:/app/data"
    # Optional healthcheck
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pocketid.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.pocketid.entrypoints=web"
      - "traefik.http.services.pocketid.loadbalancer.server.port=1411"
      - "traefik.docker.network=traefik"
    networks:
      - traefik
      - postgres
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

networks:
  traefik:
    external: true
  postgres:
    external: true