services:
  gatus:
    image: twinproduction/gatus:latest
    container_name: gatus
    restart: always
    env_file:
      - .env
    volumes:
      - ./config:/config
    networks:
      - traefik
      - postgres
      - monitoring
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime-kuma.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.uptime-kuma.entrypoints=web"
      - "traefik.http.services.uptime-kuma.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik"

networks:
  traefik:
    external: true
  postgres:
    external: true
  monitoring:
    external: true
