services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    env_file:
      - .env
    volumes:
      - ./ntfy-data/var/cache/ntfy:/var/cache/ntfy
      - ./ntfy-data/etc/ntfy:/etc/ntfy
      - ./ntfy-data:/var/lib/ntfy
    healthcheck: # optional: remember to adapt the host:port to your environment
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ntfy.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.ntfy.entrypoints=web"
      - "traefik.http.services.ntfy.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik"
    networks:
      - traefik

networks:
  traefik:
    external: true