endpoints:
  # - name: mfa                 # Name of your endpoint, can be anything
  #   url: "https://sso.workbench.web.id"
  #   interval: 5m                  # Duration to wait between every status check (default: 60s)
  #   conditions:
  #     - "[STATUS] == 200"         # Status must be 200
  #     - "[BODY].status == UP"     # The json path "$.status" must be equal to UP
  #     - "[RESPONSE_TIME] < 300"   # Response time must be under 300ms

  - name: make-sure-header-is-rendered
    url: "https://example.org/"
    interval: 60s
    conditions:
      - "[STATUS] == 200"                          # Status must be 200
      - "[BODY] == pat(*<h1>Example Domain</h1>*)" # Body must contain the specified header
  
  - name: mfa
    url: https://mfa.workbench.web.id/up
    interval: 60s
    conditions:
      - "[STATUS] == 200"
      - "[BODY] == men"
      - "[RESPONSE_TIME] < 800"
    alerts:
      - type: ntfy

ui:
  link: "https://how.workbench.web.id"
  buttons:
    - name: "Logout"
      link: "https://sso.workbench.web.id/api/oidc/end-session"

alerting:
  ntfy:
    topic: "gatus"
    url: "https://ntfy.workbench.web.id"
    token: "$2a$12$1.HlHVVPONulV3.sddMEi.bx3SwLudLVjYxwMKLBk8m11EGJZnCEC"
    click: "https://how.workbench.web.id"
    disable-firebase: true
    default-alert:
      description: "Health check failed"
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3

security:
  oidc:
    issuer-url: "https://sso.workbench.web.id"
    redirect-url: "https://how.workbench.web.id/authorization-code/callback"
    client-id: "gatus"
    client-secret: "oJ4vcoVp6gzfTqqPegevtGthgPPPgm4S"
    scopes: ["openid", "email", "profile", "groups"]
    session-ttl: 8h
