storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"

endpoints:
  - name: mfa
    url: https://mfa.workbench.web.id/up
    interval: 60s
    conditions:
      - "[STATUS] <= 299"
      - "[BODY] == pat(*2FAuth up*)"
    alerts:
      - type: ntfy

ui:
  link: "https://how.workbench.web.id"
  buttons:
    - name: "Logout"
      link: "https://sso.workbench.web.id/api/oidc/end-session"

alerting:
  ntfy:
    topic: "gatus"
    url: "https://ntfy.workbench.web.id"
    token: "tk_o5p9maz44088i14no6txkobo1m9pc"
    click: "https://how.workbench.web.id"
    disable-firebase: true
    default-alert:
      description: "Health check failed"
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3

security:
  oidc:
    issuer-url: "https://sso.workbench.web.id"
    redirect-url: "https://how.workbench.web.id/authorization-code/callback"
    client-id: "gatus"
    client-secret: "oJ4vcoVp6gzfTqqPegevtGthgPPPgm4S"
    scopes: ["openid", "email", "profile", "groups"]
    session-ttl: 8h
