storage:
  type: postgres
  path: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable"

ui:
  link: "https://how.workbench.web.id"
  buttons:
    - name: "Logout"
      link: "${OIDC_ISSUER_URL}/api/oidc/end-session"

suites:
  - name: basic-test
    group: basic
    interval: 60s
    endpoints:
      - name: google
        url: https://www.google.com
        method: GET
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: ntfy

alerting:
  ntfy:
    topic: ${NTFY_TOPIC}
    url: ${NTFY_URL}
    token: ${NTFY_TOKEN}
    click: "https://how.workbench.web.id"
    disable-firebase: true
    default-alert:
      description: "Health check failed"
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3

security:
  oidc:
    issuer-url: ${OIDC_ISSUER_URL}
    redirect-url: ${OIDC_REDIRECT_URL}
    client-id: ${OIDC_CLIENT_ID}
    client-secret: ${OIDC_CLIENT_SECRET}
    scopes: ["openid", "email", "profile", "groups"]
    session-ttl: 8h