# suites:
#   - name: arcane
#     interval: 10s
#     context: 
#       api-key: arc_299f1b5540f9b4b4a9365449b64312487fd3e12a95c330b381cc89854fddeef2
#     endpoints:
#       - name: list user
#         url: https://docker.workbench.web.id/api/users
#         method: GET
#         headers:
#           X-Api-Key: "[CONTEXT].api-key"
#         conditions:
#           - "[STATUS] == 200"
#         store:
#           body: "[BODY]"

# suites:
#   - name: test
#     endpoints:
#       - name: mfa suite
#         url: https://mfa.workbench.web.id/up
#         interval: 60s
#         conditions:
#           - "[STATUS] <= 299"
#           - "[BODY] == pat(*2FAuth up*)"
#         alerts:
#           - type: ntfy

suites:
  - name: basic-test
    interval: 60s
    endpoints:
      - name: google
        url: https://www.google.com
        conditions:
          - "[STATUS] == 200"
