services:
  nen:
    image: n8nio/n8n:latest
    container_name: nen
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nen.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.nen.entrypoints=web"
      - "traefik.http.services.nen.loadbalancer.server.port=5678"
      - "traefik.docker.network=traefik"
    volumes:
      - ./nen-data:/home/node/.n8n
    networks:
      - traefik
      - postgres
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

networks:
  traefik:
    external: true
  postgres:
    external: true