services:
  api:
    container_name: grafana-to-ntfy
    image: kittyandrew/grafana-to-ntfy
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - monitoring
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M

networks:
  monitoring:
    external: true